.content{
    display: grid;
    grid-template-columns: 30% 60%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: auto;

}
.info{
    margin: 10px;
}
.head{
    background: #DCDCDC;
    height: 100vh;
    text-align: center;
}
.photo{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 100px;
}
.header{
    font-size: 30px;
    color: #696969;
}
.name{
 font-size: 40px;
    margin-bottom: 0;
}
.surname{
    font-size: 40px;
    margin-top: 0;
 color: #ff9933;
}
.profession{
    font-size: 20px;
}